#wwvt-home {
  margin-left: 1rem;
  align-self: center;
  color: #fefefe;
  font-size: 1.35rem;
  font-family: 'Raleway', sans-serif;
}

#wwvt-home:hover {
  color: #ccc;
  text-decoration: none;
}

.main-body
{
  max-width: 1080px;
  margin: 90px auto 0 !important;
  float: none !important;
}

.nav-over-flow{
  background-color: #343a40!important
}


.dropdown-toggle::after {
    display:none;
}


.host-element {
  margin-top: 20px;
  width: 960px !important;
  height: 570px !important;

}
 
.main-text {
  margin-top: 130px !important;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  text-align: justify;
}

h1 { 
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}


h2 {
  display: block;
  font-size: 1.17em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 { 
  display: block;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.column {
    float: left;
    width: 33.33%;
    padding: 20px;
    
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.heading {
    text-align: center;
    font-weight: bold;
    color: black;
}

.image-prev{
    height: 250px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.figcaption {
    font: smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.border {
  box-sizing: content-box;  
  width: 300px;
  height: 400px;
  padding: 10px;  
  border: 2px black;
      float: left;
    padding: 20px;
}